html, body {
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, hsl(45, 14%, 51%) 0%, hsl(220, 50%, 19%) 50%, hsl(45, 14%, 51%) 100%);
}

* {
  font-family: 'Exo 2';
  box-sizing: border-box;
}

.container {
  width: 920px;
  margin: 0 auto -20px auto;
  background-color: hsl(45, 15%, 92%);
}

h2, h3 { 
  width: 100%;
  margin: 5px 0;
	padding-left: 10px;
  color: hsl(214, 75%, 21%);
}

h1 { font-size: 2em;}
h2 { font-size: 1.5em;}
h3 { font-size: 1.25em;}

a {
  text-decoration: none;
  color: black;
}

p {
  text-align: justify;
  text-indent: 1em;
  line-height: 1.5em;
  margin: 0.2em 0;
}

.main-header, .main-header > a, h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-header {
  width: 100%;
  height: 120px;
  flex-flow: row wrap;
  align-content: center;
  background-color: hsl(214, 75%, 23%);
}

.main-header > a {
  width: 100%;
  height: 100%;
}

h1 {
  height: auto;
  flex-flow: row nowrap;
}

.gamename {
  justify-content: center;
  padding-left: 25px;
  margin-bottom: 8px;
  font-size: 75px;
  color: hsl(55, 71%, 50%);
}

main, article, section {
  display: flex;
  flex: 1 0 100%;
  flex-flow: row wrap;
}

main {
  padding: 10px 15px;
  margin-bottom: 70px;
}

section {
  margin: 15px 0;
	padding: 0 10px;
}

table {
  width: 400px;
  margin: 15px;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 3px 8px;
}

th {
  height: 2em;
  background-color: hsl(226, 87%, 79%);
  border-bottom: 1px solid black;
}

th:first-of-type, td:first-of-type {
  border-right: 1px solid black
}

tr:nth-child(even) {
  background-color: hsl(0, 4%, 84%);
}

.stars, .captcha, .codearea {
	display: flex;
	margin: 10px auto;
  width: 500px;  
}

.answer {
	display: block;
	float: left;
}

.answer > input {
  height: 50px;
  font-size: 24px;
}

.captcha {  
  background-color: white;
}

.game-level {
  display: flex;
  width: 300px;
  height: 100%;
}

.yellow {
  background: url('/Symbol_Star(color).png') no-repeat center;
}

input[type='image'] {
  width: 60px;
  height: auto;
}

.level-block {
  display: flex;
  width: 200px;
  margin-left: 10px;
  justify-content: center;
  align-items: center;
  border: 1px solid hsl(217, 86%, 50%);
  border-radius: 25px;
  background-color: hsl(212, 29%, 80%);
}

.level-block > span {
  font-size: 18px;
}

.noise {
  width: 80%;
}

.final-code {
  width: auto;
  height: 100%;
}

.symbol {
	width: 18%;
	font: normal 60px 'Arial';
	background-color: transparent;
  border-color: transparent;
/*  filter: blur(5px);*/
	float: left;
}

.reset {
  width: 100px;
	height: 100px;
  border-width: 0;
  background-image: url('/reset-button.svg');
  background-size: cover;
	cursor: pointer;
}

.codearea {
	height: auto;
}

label > span {
  display: inline-block;
  width: 100%;
  font-size: 18px;
	padding: 10px 0;
}

input[type='text'] {
  max-width: 300px;
}

input[type='submit'] {
  width: auto;
}

footer {
  position: fixed;
  width: 100%;
  height: 60px;  
  bottom: 0;
  left: 0;
  font-size: 1.25em;
  color: hsl(42, 80%, 86%);
  background-color: hsl(201, 10%, 25%);
}

footer > span {
  display: inline-block;
  padding: 5px 10px;
  font-style: italic;
}

@media screen and (min-width: 768px) and (max-width: 920px) {
	
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  body, html {
    font-size: 14px;
  }
	
	.container {
    width: 100%;
  }
	
  .main-header {
    height: 100px;
  }
	
  h1 > img {
    height: 50px;
  }
  
  .gamename {
    font-size: 60px;
  }
	
  main {
		padding: 5px 10px;
  }
  
	article, section, h2 {
		padding: 0;
	}
	
	table {
		margin: 5px 0;
	}
	
  .captcha {
  	width: 450px;
  }

  .stars, .captcha, .level-block, .game-level {
		margin: 5px 0;
    justify-content: center;
  }

  .final-code {
    flex: 1 0 240px;
  }
  
  .stars {
    flex-flow: row wrap;
  }
  
  .level-block, .game-level {
    width: 300px;
  }
	
	.game-level {
    height: auto;
  }
    
  .level-block {
    height: 50px;
    order: -1;
  }
  
  input[type='image'] {
    width: 60px;
  }
	
  .reset {
    width: 100px;
    height: 100px;
  }  
  
	.codearea {
		width: 100%;
	}
}

@media screen and (max-width: 480px) {
  body, html {
    font-size: 12px;
  }
	
  .container {
    width: 100%;
  }
  
  .main-header {
    height: 80px;
  }
	
  h1 > img {
    height: 40px;
  }
  
  .gamename {
    font-size: 50px;
    padding-left: 8px;
  }
	
  main {
		padding: 5px 10px;
    margin-bottom: 60px;
  }
  
	article, section, h2 {
		padding: 0;
	}
  
	section, .stars, .captcha, .level-block, .game-level, table {		
    margin: 5px 0;
	}
	
	h3 {
		padding-left: 5px;
	}
	
  table {
		font-size: 14px;
  }
  
  .stars, .captcha, table {
    width: 100%;
		max-width: 400px;
  }

  .stars, .captcha, .level-block, .game-level {
    justify-content: center;
  }

  .final-code {
    flex: 1 0 240px;
  }
  
  .stars {
    flex-flow: row wrap;
  }
  
  .level-block, .game-level {
    width: 300px;
  }
	
	.game-level {
    height: auto;
  }
    
  .level-block {
    height: 50px;
    order: -1;
  }
  
  input[type='image'] {
    width: 60px;
  }
	
  .reset {
    width: 80px;
    height: 80px;
  }  
  
	.codearea {
		width: 100%;
	}
  
  .answer {
    height: auto;
  }

	label > span {
		font-size: 14px;
		padding: 6px 0;
	}

	input[type='text'], input[type='submit'] {
		font-size: 16px;
		height: 40px;
	}
 
  footer {
    height: 50px;
  }
  
  footer > span {
    padding: 5px;
  }
}